---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("March 31 2025")}
  heroImage="assets/clips/day-7.gif"
  heroImageDescription="One year ago (Feb 2024)"
>
  <p>
    Hey everyone! Welcome to my fitness page. I wanted to share a bit about my
    fitness journey, which has been anything but linear. A little over a year
    ago, I was *that* skinny guy. I'm talking around 40kg (roughly 88 lbs)
    soaking wet. I was always self-conscious about my physique, and honestly, I
    felt pretty weak. I knew I needed to make a change, but life had other
    plans... Just as I was getting into a good rhythm with my training, I had to
    undergo gallbladder removal surgery. That completely derailed my progress.
    For one month, I was sidelined, unable to train properly, and struggling to
    eat enough to even maintain my weight. It was incredibly frustrating,
    especially when I was so motivated to gain muscle.
  </p>
  <p>
    Coming back from that surgery was tough. My appetite was all over the place,
    and I needed to find a way to get the calories I needed to fuel my workouts.
    That's when I started incorporating a mass gainer supplement into my diet.
    It's been a game-changer in helping me consistently hit my calorie goals,
    even with a sensitive stomach. Despite the surgery setback, I kept pushing
    forward. I started hitting the gym again, but this time, incorporating more
    efficient training techniques, and focusing on eating more.
  </p>
  <p>
    Now, the only challenge I'm managing is my day day-to-day job... I'm a
    developer, which means long hours in front of a computer. Finding time for
    the gym and meal prep can be a real challenge. Balancing my schedule with my
    fitness goals is an ongoing learning process. Fast forward to today, and I'm
    almost 60kg (about 132 lbs). That's a 20kg (44lb) gain, even with the
    surgery setback! More importantly than the number on the scale, I feel
    stronger, more confident, and healthier than ever before.
  </p>
  <p>
    This blog is where I'll be sharing my experiences, the lessons I've learned
    (and am still learning!), and hopefully, inspiring others who might be in a
    similar place – whether you're a fellow skinny guy looking to bulk up,
    recovering from surgery, juggling a demanding job, or just starting your
    fitness journey.

    <ul class="mt-4 mb-8">
      I'll be covering topics like:

      <li class="italic">* Overcoming setbacks in your fitness journey</li>
      <li class="italic">
        * Efficient workout routines for busy professionals
      </li>
      <li class="italic">
        * Nutrition tips for bulking on a budget (and with a sensitive stomach!)
      </li>
    </ul>

    Thanks for stopping by! Let's grow together, even when life throws
    curveballs!
  </p>
</Layout>
